<div class="container_show">
  <div id="content-wrap">


    <div class="row">
     <div class="col-sm-12 col-md-12">

      <h2> <%= @flat.name %> </h2>
       <ul>
         <li> <div class="pic"> <%= image_tag @flat.photo %></div></li>
         <li> <strong> <div class="price"> <%= @flat.price %> $</div> </strong></li>
         <li> <h6><div class="address"> <%= @flat.address %>  </div></h6></li>
       </ul>
      <%= link_to "Back to Flats", root_path, class: "btn btn-ghost" %>
    </div>
   </div>
 </div>
</div>



<%= render '/bookings/form', flat: @flat, booking: @booking %>
<ul class="list-group"> 
  <% @booking.reviews.each do |review| %> 
  <li class="list-group-item"><%= review.content %></li> 
  <% end %> 
</ul> 
<%= render 'shared/footer'%>
