<div >
  <div>
      <%= simple_form_for([flat, booking]) do |f| %>
      <%= f.input :start_date, html5: true, as: :date %>
      <%= f.input :end_date, html5: true, as: :date %>
      <%= f.input :guests_number %>
      <%= f.submit %>
    <% end %>

    <%= link_to "Back to home page", root_path %>
  </div>
</div>
