<div class="container form-container">
  <div class="inner">
    <%= simple_form_for([flat, booking]) do |f| %>
      <div class="form">
        <div class="form-row">
          <div class="form-wrapper form-width-third">
            <%= f.input :start_date, html5: true, as: :date, class: "" %>
          </div>
          <div class="form-wrapper form-width-third">
            <%= f.input :end_date, html5: true, as: :date %>
          </div>
          <div class="form-wrapper form-width-sixt">
            <%= f.input :guests_number, collection: [0,1,2,3,4,5,6,7,8,9,10] %>
          </div>
        </div>
        <div>
        <%= f.submit class:"btn btn-ghost" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
