 <div class="container_show">
  <div id="content-wrap">


    <div class="row">
     <div class="col-sm-12 col-md-12">

      <h2> <%= @booking.flat.name  %> </h2>
       <ul>
         <li> <div class="pic"> <%= image_tag @booking.flat.photo %></div></li>
         <li> <% @booking.flat.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %> </li>
         <li> <strong> <div class="price"> <%= @booking.total_price %> $</div> </strong></li>
         <li> <h6><div class="address"> <%= @booking.flat.address %>  </div></h6></li>
         <li> <h6><div class=""> Check in date: <%= @booking.start_date.to_date %>  </div></h6> </li>
         <li> <h6><div class=""> Check out date: <%= @booking.end_date.to_date %>  </div></h6> </li>
         <li> <h6><div class=""> Guest number: <%= @booking.guests_number %>  </div></h6> </li>
       </ul>


      <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-ghost" %>
    </div>
   </div>
 </div>
</div>



<div class="container">
  <div class="content-wrap">
      <%= simple_form_for([@booking, @review]) do |f| %>
      <%= f.input :comments %>
      <%= f.input :rating, collection: [0,1,2,3,4,5] %>
      <%= f.submit class: "btn btn-ghost" %>
    <% end %>
    <br>


  </div>


<div class="review-list">
  <h6>Reviews  <%= @booking.reviews.size %> </h6>
<ul class="list-group">

  <% @booking.reviews.each do |review| %>
  <li class="list-group-item review-item">
   <div> <%= review.comments %>

    <%= review.rating %>

    </div>

    <div>

    <%= link_to "Delete",
        booking_path(review),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>

  </li>
</ul>
</div>
</div>
<%= render 'shared/footer'%>
