<h2> <%= @booking.flat.name %> </h2>
       <ul>
         <li> <div class=""> <%= image_tag @booking.flat.photo %></div></li>
         <li> <strong> <div class="price"> <%= @booking.flat.price %> $</div> </strong></li>
         <li> <h6><div class="address"> <%= @booking.flat.address %>  </div></h6></li>
         <li> <h6><div class=""> <%= @booking.start_date.to_date %>  </div></h6></li>
         <li> <h6><div class=""> <%= @booking.end_date.to_date %>  </div></h6></li>
         <li> <h6><div class=""> <%= @booking.guests_number %>  </div></h6></li>
       </ul>
      <%= link_to "Back to Dashboard", dashboard_path, class: "" %>

<div >
  <div>
      <%= simple_form_for([@booking, @review]) do |f| %>
      <%= f.input :comments %>
      <%= f.input :rating, collection: [0,1,2,3,4,5] %>
      <%= f.submit %>
    <% end %>

    <%= link_to "Back to home page", root_path %>
  </div>
</div>

<%= render 'shared/footer'%>
