<%= render 'shared/navbar' %>
<div id="home-container">
  <div id="content-wrap">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cf.bstatic.com/images/hotel/max1280x900/239/239100831.jpg);">
      <div class="container">
        <h1>Experience a complete new way to stay wherever you like on the planet!</h1>
        <p>We help you to find the most customized accomodations.</p>
        <%= form_tag(root_path, :method => :get) do |f| %>
        <%= text_field_tag :query %>
        <%= submit_tag 'search' %>
        <% end %>
        </div>
      </div>
    </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <h1>Check out our flats (<%= @flats.count %>)</h1>
      </div>
    </div>
    <div class="cards">
      <% @flats.each do |flat|%>
        <div class="card-category">
          <div class="thumb" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= flat.photo %>')">
            <div class="main">
              <div class="col align-self-center">
                <h2><%= flat.name %></h2>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <p><%= flat.address %></p>
            <p>$<%= flat.price %></p>
          </div>
          <div>
            <%= link_to "More info", flat_path(flat) %>
          </div>
        </div>
        <% end %>
    </div>
  <%= render 'shared/footer'%>
</div>
